@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* {
    font-family: 'Noto Sans Display', 'Times New Roman';
}

.minuteHead {
    color: rgb(0,71,171); /*Makes the headings of each meeting minutes have cobalt text*/
}

body {
    background-color: beige; /*Gives the entire page a beige background*/
    margin: auto; /*Horizontally centers the body on the screen*/
    width: 75vw; /*Make the body 75% of the width of the viewport*/
    max-width: 1500px; /*Make the body not grow past 1500px*/
}

nav {
    background-color: rgb(173, 216, 230); /*Gives the nav bar a light blue background*/
    border-bottom: 2pt solid rgb(0,71,171); /*Gives the nav bar a solid, cobalt bottom border with a width of 2pt*/
    border-left:  0.15pc solid rgb(0,71,171); /*Gives the nav bar a solid, cobalt left border with a width of 0.15pc*/
    border-right:  0.15pc solid rgb(0,71,171); /*Gives the nav bar a solid, cobalt right border with a width of 0.15pc*/
    border-bottom-left-radius: 10px; /*Gives the bottom left corner of the border a radius of 10px*/
    border-bottom-right-radius: 10px; /*Gives the bottom right corner of the border a radius of 10px*/
    position: static;
}

a[href="index.html"] {
    margin-left: 20px; /*For links that link to index, give them a left a margin of 20px*/
}

a[href="index.html"]:hover {
    color: white; /*When you hover over links to index, they should turn white*/
}

a[href="index.html"]:active {
    color: black; /*When you click on links to index, they should turn black*/
}

section {
    background-color: hsl(195, 53%, 79%); /*Gives each section a light blue background*/
    /*Gives each section 10px of padding on top and bottom, and 20px of paddding on left and right*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /*Gives each section a solid, cobalt border with a width of 10%*/
    border-style: solid;
    border-color: rgb(0,71,171);
    border-width: 10%;
    border-radius: 10px; /*Gives the border a radius of 10px*/
    margin-bottom: 20px;
}

section > details {
    /*For the details tags in sections, give the details bottom and left padding of 10px*/
    padding: 0px 0px 10px 10px;
}

section img, section video {
    width: 45%; /*Make the width of the image and video 45% of the section*/
    min-width: 200px; /*Give them a minimum width of 200px*/
}

#pageTitle {
    margin: 10px 15px 10px 15px; /*Give the page title a top and bottom margin of 10px, and a left and right padding of 15px*/
    text-align: center; /*Centers the title of the page*/
    text-decoration: underline; /*Underlines the title of the page*/
}

footer {
    /*Give the footer top and bottom margins of 20px*/
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 5vh; /*Make the footer take up 5% of the height of viewport*/ 
    position: relative;
}

button {
    display: block; /*Buttons get put on their own line and take up the full width of their parent element*/
}

button + p {
    display: none; /*Don't display p elements that appear immediately after a button*/
}

h3 ~ .flexCont {
    /*Flexbox for image and video*/
    display: flex;
    flex-wrap: wrap; /*Wrap items around when the width shrinks*/
    justify-content: space-around; /*Space content in flexbox around evenly*/
    align-items: flex-start; /*Align items to the top of the flexbox*/
}

fieldset label {
    font-weight: bold; /*Bold the labels that are descendants of fieldset*/
}

div.gridCont {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Creates 4 equal grid columns*/
    justify-items: start; /*Items are left aligned inside their own cell*/
    justify-content: space-around; /*Space content in grid around evenly*/
}

@media only screen and (max-width: 1000px) {
    div.gridCont {
        display: grid;
        grid-template-columns: 100%; /*Make each grid column 100% so that the grid wraps*/
    }

    body {
        width: 90%; /*Make the width of the body 90% when the screen shrinks to a certain point*/
    }
}